In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_excel("../raw/LE_Lisket_0_15_AMBI_DEF_2.xlsx")

In [3]:
df_raw = df_raw.iloc[1:,:]
df_raw

,Animal,Generation,Season,Elválasztás,G_S,Paradigm,Date_Ambitus,Year,NR,Group,...,Expl_E_I_TOT_Loco_ratio,Eff_Expl_E,Eff_Expl_I,Eff_Expl_EI,E_E,WM_ERROR_E,WM_ERROR_I,WM_ERROR_EI,WM_ERR_RW,WM_ERR_NRW
1,LE2F1_1,0,Autumn,2019-08-26,0_Autumn,1.0,2019-10-07 00:00:00,0.0,1,Lisket,...,2.923077,1.000,0.75,0.875000,0.8750,0.040000,0.059406,0.088235,0.088235,NaN
2,LE2F2_1,0,Autumn,2019-08-26,0_Autumn,1.0,2019-10-07 00:00:00,0.0,1,Lisket,...,3.600000,1.000,1.00,1.000000,1.0000,0.034653,0.051471,0.082353,0.082353,NaN
3,LE2F3_1,0,Autumn,2019-08-26,0_Autumn,2.0,2019-10-07 00:00:00,0.0,1,Lisket,...,1.769231,NaN,1.00,0.533333,1.0000,0.066176,0.105882,0.030000,0.105882,0.030000
4,LE2F4_1,0,Autumn,2019-08-26,0_Autumn,2.0,2019-10-07 00:00:00,0.0,1,Lisket,...,4.214286,NaN,1.00,0.500000,1.0000,0.105882,0.030000,0.035433,0.030000,0.035433
5,LE2F1_2,0,Autumn,2019-08-26,0_Autumn,1.0,2019-10-07 00:00:00,0.0,2,Lisket,...,2.250000,1.000,1.00,1.000000,1.0000,0.033333,0.039370,0.094340,0.094340,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5364,Rat28,15,Winter,2024-12-30,15_Winter,2.0,2025-02-18 00:00:00,6.0,98,LE,...,2.312500,NaN,1.00,0.533333,1.0000,0.096386,0.026667,0.040201,0.026667,0.040201
5365,Rat11,15,Winter,2024-12-30,15_Winter,1.0,2025-02-18 00:00:00,6.0,99,LE,...,1.120000,0.875,1.00,0.937500,0.9375,0.030000,0.045226,0.116883,0.116883,NaN
5366,Rat12,15,Winter,2024-12-30,15_Winter,1.0,2025-02-18 00:00:00,6.0,99,LE,...,1.653846,1.000,1.00,1.000000,1.0000,0.070352,0.181818,0.120690,0.120690,NaN
5367,Rat33,15,Winter,2024-12-30,15_Winter,2.0,2025-02-18 00:00:00,6.0,99,LE,...,1.771429,NaN,1.00,0.533333,1.0000,0.103896,0.068966,NaN,0.068966,NaN
5368,Rat34,15,Winter,2024-12-30,15_Winter,2.0,2025-02-18 00:00:00,6.0,99,LE,...,1.558824,NaN,1.00,0.533333,1.0000,0.086207,NaN,NaN,NaN,NaN

In [4]:
# Define the path to the raw data file (Parquet format)
file_path = "../raw/ambitus_0_15_log_24_07_2025.parquet"
# load the data into a DataFrame
df = pd.read_parquet(file_path)

In [5]:
df.rename(columns = {'Gender':'Sex', 'GR_Gender':'GR_Sex'},inplace=True)

In [6]:
df.drop(columns =['First_Box location','Skipping'], inplace=True)
df

,Animal,Generation,Season,Separation,G_S,Paradigm,Date_Ambitus,Year,NR,Group,...,Expl_E_BEF_Loco_ratio,Expl_I_BEF_Loco_ratio,Expl_EI_BEF_Loco_ratio,Expl_E_TOT_Loco_ratio,Expl_I_TOT_Loco_ratio,Expl_E_I_TOT_Loco_ratio,Eff_Expl_E,Eff_Expl_I,Eff_Expl_EI,E_E
0,LE2F1_1,0,Autumn,2019-08-26,0_Autumn,1,2019-10-07,0,1,Lisket,...,1.846154,1.076923,2.923077,1.846154,1.076923,2.923077,1.000,0.75,0.875000,0.8750
1,LE2F2_1,0,Autumn,2019-08-26,0_Autumn,1,2019-10-07,0,1,Lisket,...,1.571429,1.857143,3.428571,1.500000,2.100000,3.600000,1.000,1.00,1.000000,1.0000
2,LE2F3_1,0,Autumn,2019-08-26,0_Autumn,2,2019-10-07,0,1,Lisket,...,1.000000,1.800000,2.800000,0.769231,1.000000,1.769231,NaN,1.00,0.533333,1.0000
3,LE2F4_1,0,Autumn,2019-08-26,0_Autumn,2,2019-10-07,0,1,Lisket,...,1.666667,3.166667,4.833333,1.857143,2.357143,4.214286,NaN,1.00,0.500000,1.0000
4,LE2F1_2,0,Autumn,2019-08-26,0_Autumn,1,2019-10-07,0,2,Lisket,...,1.333333,0.916667,2.250000,1.333333,0.916667,2.250000,1.000,1.00,1.000000,1.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5363,Rat28,15,Winter,2024-12-30,15_Winter,2,2025-02-18,6,98,LE,...,0.900000,1.600000,2.500000,0.968750,1.343750,2.312500,NaN,1.00,0.533333,1.0000
5364,Rat11,15,Winter,2024-12-30,15_Winter,1,2025-02-18,6,99,LE,...,0.600000,0.520000,1.120000,0.600000,0.520000,1.120000,0.875,1.00,0.937500,0.9375
5365,Rat12,15,Winter,2024-12-30,15_Winter,1,2025-02-18,6,99,LE,...,1.200000,1.200000,2.400000,0.846154,0.807692,1.653846,1.000,1.00,1.000000,1.0000
5366,Rat33,15,Winter,2024-12-30,15_Winter,2,2025-02-18,6,99,LE,...,1.125000,1.750000,2.875000,0.971429,0.800000,1.771429,NaN,1.00,0.533333,1.0000
5367,Rat34,15,Winter,2024-12-30,15_Winter,2,2025-02-18,6,99,LE,...,1.000000,2.090909,3.090909,0.764706,0.794118,1.558824,NaN,1.00,0.533333,1.0000

In [18]:
df_raw['Year'] = df_raw['Year'].astype(int)

In [22]:
df = pd.merge(df, df_raw.loc[:,['Animal','Year','NR','First_Box location','Skipping']], on = ['Animal','Year','NR'],how='left')

In [ ]:
# Define the path to the raw data file (Parquet format)
file_path = "../raw/ambitus_0_15_log_29_07_2025.parquet"
# load the data into a DataFrame
df.to_parquet(file_path, engine='pyarrow')

In [28]:
df.loc[df['First_Box location'].isna(),:].shape

(173, 104)

In [30]:
df.loc[df['Skipping'].isna(),:].shape

(3, 104)